<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Thymeleaf</title>
</head>
<body>
<h1>SpringBoot中间件整合  作者：孙帅旗</h1>
<h3 style="color: red">声明：该网站仅供内部学习交流，禁止转载发布，违者自行承担法律责任。</h3>

<h2 style="color: red" th:text="${gcjp}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
<h2 style="color: red" th:text="${zptp}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
<h2 style="color: red" th:text="${yzwm}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
<h2 style="color: red" th:text="${omjq}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
<h2 style="color: red" th:text="${mtsw}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
<h2 style="color: red" th:text="${zfyh}"></h2>
<a href="#">图片区</a>   <a href="#">视频区</a>
</body>
</html>